body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
footer { margin-top: 20px; color: gray; }