/* Resetare */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    height: 100vh;
    background-color: #000; /* Negru perfect */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- LOGO ANIMAT --- */
.background-animat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* În spatele textului */

    /* Încărcăm poza (Asigură-te că se numește logo.png în folderul images) */
    background-image: url('images/logo-bg.jpeg');
    
    /* TRUCUL MAGIC: Contain nu taie poza! O lasă întreagă în centru. */
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;

    /* O facem puțin mai transparentă ca să se vadă textul alb peste ea */
    opacity: 0.6; 

    /* Animația de "respirație" */
    animation: pulsatie 6s ease-in-out infinite alternate;
}

@keyframes pulsatie {
    0% { transform: scale(0.9); opacity: 0.5; }
    100% { transform: scale(1.1); opacity: 0.8; }
}

/* --- TEXTUL --- */
.container-continut {
    text-align: center;
    z-index: 2; /* Deasupra pozei */
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 5px 15px rgba(0,0,0,1); /* Umbră neagră puternică sub text */
}

p {
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 30px;
    text-shadow: 0 2px 10px rgba(0,0,0,1);
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    letter-spacing: 2px;
}